html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #202020, #e3e3e3, #424242, #202020, #111111);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* SLIDESHOW */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1{
    position: relative;
    top: 50%;  
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* CARDS */
        .project-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .project-card {
            display: flex;
            flex-direction: column;
            background: lightgrey;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .red-btn {
            width: 300px;
            height: 150px;
            margin: 15px;
            background: rgb(255, 0, 0);
            background: rgb(131, 58, 180);
            background: linear-gradient(
                90deg,
                rgba(131, 58, 180, 1) 0%,
                rgba(253, 29, 29, 1) 50%,
                rgba(252, 176, 69, 1) 100%
            );
            color: white;
            border: none;
            border-radius: 0.625em;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        .blue-btn {
            width: 300px;
            height: 150px;
            margin: 15px;
            background: rgb(0, 8, 144);
            background: linear-gradient(
                90deg,
                rgba(0, 8, 144, 1) 0%,
                rgba(16, 0, 255, 1) 22%,
                rgba(86, 255, 247, 1) 100%
            );
            color: white;
            border: none;
            border-radius: 0.625em;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        button:hover {
            color: rgb(0, 0, 0);
        }
        
        button:after {
            content: "";
            background: white;
            position: absolute;
            z-index: -1;
            left: -20%;
            right: -20%;
            top: 0;
            bottom: 0;
            transform: skewX(-45deg) scale(0, 1);
            transition: all 0.5s;
        }
        
        button:hover:after {
            transform: skewX(-45deg) scale(1, 1);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

/* CARDDECK */
        .container-card {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-card .glass {
            position: relative;
            width: 160px;
            height: 180px;
            background: linear-gradient(#fff2, transparent);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            border-radius: 10px;
            margin: 0 -35px;
            backdrop-filter: blur(10px);
            transform: rotate(calc(var(--r) * 1deg));
        }

        .container-card:hover .glass {
            transform: rotate(0deg);
            margin: 0 8px;
        }

        .container-card .glass::before {
            content: attr(data-text);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: rgba(255, 255, 255, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 0.9em;
            font-weight: 500;
        }

        .container-card .glass svg {
            font-size: 2.2em;
            fill: #fff;
        }
