html, body {
  width: 100% !important;
}

.background-body {
    background: linear-gradient(-45deg, #202020, #e3e3e3, #424242, #202020, #111111);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* SLIDESHOW */

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1{
    position: relative;
    top: 50%;  
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* CARDS */
        .project-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .project-card {
            display: flex;
            flex-direction: column;
            background: lightgrey;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .red-btn {
            width: 300px;
            height: 300px;
            margin: 15px;
            background: rgb(255, 0, 0);
            background: rgb(131, 58, 180);
            background: linear-gradient(
                90deg,
                #c7c7c7 0%,
                #808080 50%,
                #444444 100%
            );
            color: white;
            border: none;
            border-radius: 0.625em;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        .blue-btn {
            width: 300px;
            height: 300px;
            margin: 15px;
            background: rgb(0, 8, 144);
            background: linear-gradient(
                90deg,
                #c7c7c7 0%,
                #808080 50%,
                #444444 100%
            );
            color: white;
            border: none;
            border-radius: 0.625em;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        #button:hover {
            color: rgb(0, 0, 0);
        }
        
        #button:after {
            content: "";
            background: white;
            opacity:80%;
            position: absolute;
            z-index: -1;
            left: -20%;
            right: -20%;
            top: 0;
            bottom: 0;
            transform: skewX(-90deg) scale(0, 1);
            transition: all 0.5s;
        }
        
        #button:hover:after {
            transform: skewX(-45deg) scale(1, 1);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;          
        }

/* CARDDECK */
        .container-card {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-card .glass {
            position: relative;
            width: 160px;
            height: 180px;
            background: linear-gradient(#fff2, transparent);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            border-radius: 10px;
            margin: 0 -35px;
            backdrop-filter: blur(10px);
            transform: rotate(calc(var(--r) * 1deg));
        }

        .container-card:hover .glass {
            transform: rotate(0deg);
            margin: 0 8px;
        }

        .container-card .glass::before {
            content: attr(data-text);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: rgba(255, 255, 255, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 0.9em;
            font-weight: 500;
        }

        .container-card .glass svg {
            font-size: 2.2em;
            fill: #fff;
        }


/* BUTTONS */
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(0, 0, 0, 0.6);
  --animation-color: #ffffff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/* NAVBAR */
.navbar-fs {
    --fs-size: 1.5em !important;
  letter-spacing: 2.5px !important;
  margin-right: 8px !important;
  font-family: "Arial";    
}

/* SLIDER AUTOMATIC */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* CARD PROJECT */
.card-project {
  width: 360px;
  height: 120px;
  transition: all .5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
             -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.card-project:hover {
  height: 260px;
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card-project .header {
  height: 120px;  
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}

.card-project .header .img-box {
  width: 50px;
}

.card-project .header .title {
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all .5s;
  color: #edededc5;
}

.card-project:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card-project:hover .card-project .header .title {
  padding: 0;
}

.card-project .content {
  display: block;
  text-align: left;
  color: #212121;
  margin: 0 18px;
}

.card-project .content p {
  transition: all .5s;
  font-size: .8em;
  margin-bottom: 8px;
}

.card-project .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all .5s;
  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;
}


.card-project .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}